
@function sqrt ($x) {
    @if $x < 0 {
        @warn "Argument for `sqrt()` must be a positive number.";
        @return null;
    }
    $ret: 1;
    @for $i from 1 through 24 {
        $ret: $ret - ($ret * $ret - $x) / (2 * $ret);
    }
    @return $ret;
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function square($number) {
  $unitless: strip-units($number);
  @return ($unitless * $unitless);
}

@function get-unit($number) {
  @return unit($number);
}

@function get-hypotenuse($a, $b) {
    @if get-unit($a) == get-unit($b) {
        $sa: ceil(square(strip-units($a)));
        $sb: ceil(square(strip-units($b)));
        $c: ceil($sa + $sb);
        @return unquote(sqrt($c));
    } @else {
        @error 'The two value into the get-hypotenuse() function must share the same unit type';
    }
}

$tile-w: 326px;
$tile-size: 1600px;
$hypo: get-hypotenuse($tile-w, $tile-w);

.tile-grid {
    width: 1600px;
    display: block;

    &-row {
        display: flex;
        flex-basis: 25%;
        pointer-events: none;

        &:not(:first-child) {
            margin-top: #{-($hypo/2)}px;
        }

        &:nth-child(even) {
            margin-left: #{$hypo/2}px;
        }
    }

    &-cell {
        width: $tile-w;
        height: $tile-w;
        min-width: $tile-w;
        position: relative;
        margin-right: #{floor($hypo/3.43)}px;
        margin-bottom: #{floor($hypo/3.43)}px;

        @debug $hypo;
    }

    &-inner {
        width: $tile-w;
        height: $tile-w;
        min-width: $tile-w;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-45deg);
        background-color: #CCC;

        &:hover {
            background-color: #999;
            color: #EEE;
        }
    }
    &-cont {
        transform: rotate(45deg);
        width: 100%;
        height: 100%;
        overflow: hidden;

        &-front,
        &-back {
            backface-visibility: hidden;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            transform: translateX(-50%) translateY(-50%);
            border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-back {
            display: none;
        }
    }
}

//
// .tile-grid {
//     display: flex;
//     flex-wrap: wrap;
//     width: $tile-size;
//
//
//     &-cell,
//     &-inner {
//         width: #{$hypo}px;
//         height: #{$hypo}px;
//         position: relative;
//         overflow: hidden;
//         clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
//     }
//
//     &-front,
//     &-back {
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         left: 0;
//         top: 0;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         backface-visibility: hidden;
//     }
// }
