.swatches {
    margin-bottom: -15px;
}
.swatch {
    width: 100%;
    height: 100px;
    cursor: pointer;
    user-select: none;

    &-info {
        font-size: 10px;
        text-transform: uppercase;
        padding: 4px 2px 15px 2px;

        &-name {
            text-transform: lowercase;
        }
    }

    &.bg-white {
        position: relative;
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: "";
            border: 1px solid #F6F6F6;
        }
    }
}
