[aria-current=true] {
    color: black;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.demo-redux {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    height: 200px;

    &-wrap {
        div {
            text-align: center;
            width: 100%;
            font-size: 20px;
            &:first-child {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-top: 20px;
            }
        }
    }

    button {
        padding: 10px 55px;
        border: none;
        background-color: #F6F6F6;
        border-radius: 2px;
        color: black;
        font-weight: bold;
        font-size: 14px;
        user-select: none;
        outline: none;
        position: relative;
        text-transform: uppercase;

        &:focus {
            background-color: #666666;
            color: white;
        }

        &:hover {
            background-color: #333333;
            color: aqua;
            cursor: pointer;
        }

        transition: background-color .25s, color .25s;
    }
}
