html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
}


p {
    line-height: 1.5;
}

.number {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;

    &.tk {
        margin-left: 10px;
    }
}
