// color-left, color-right, text color
$buttons: (
    "default": ($color-grey, $color-gray, $color-white),
    "secondary": ($color-orange, $color-red, $color-white),
    "primary": ($color-green-light, $color-green, $color-white)
);

// font-size, paddingTop, paddingRight, paddingBottom, paddingLeft
$button-sizes: (
    "xs": (10px, 1px, 7px, 2px, 7px),
    "sm": (12px, 2px, 20px, 3px, 20px),
    "md": (18px, 5px, 50px, 6px, 50px),
    "lg": (22px, 10px, 55px, 11px, 55px)
);

@mixin gradient-button($size, $pt, $pr, $pb, $pl) {
    border          : none;
    display         : inline-flex;
    justify-content : center;
    align-items     : center;
    padding         : $pt $pr $pb $pl;
    font-size       : $size;
    flex-wrap       : nowrap;
    white-space     : nowrap;
}

@mixin pill-button($size) {
    border-radius   : $size * 3;
}

@mixin h-gradient($clr-l, $clr-r) {
    background : $clr-r; /* Old browsers */
    background : -moz-linear-gradient(left, $clr-l 0%, $clr-r 100%); /* FF3.6-15 */
    background : -webkit-linear-gradient(left, $clr-l 0%, $clr-r 100%); /* Chrome10-25,Safari5.1-6 */
    background : linear-gradient(to right, $clr-l 0%, $clr-r 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$clr-l}', endColorstr='#{$clr-r}',GradientType=1 ); /* IE6-9 */
}

@mixin button() {
    @each $clr-name, $clr-codes in $buttons {
        &-#{$clr-name} {
            @extend .btn;
            color: nth($clr-codes, 3);

            @include h-gradient(nth($clr-codes, 1), nth($clr-codes, 2));

            &:focus {
                box-shadow: 0 0 10px 1px lighten(nth($clr-codes, 1), 5%);
            }

            &:hover {
                @include h-gradient(lighten(nth($clr-codes, 1), 5%), lighten(nth($clr-codes, 2), 5%));
            }

            &:disabled {
                opacity: 0.8;
                cursor: none;
            }

            @each $size-name, $size-codes in $button-sizes {
                &-#{$size-name} {
                    @extend .btn;
                    @extend .btn-#{$clr-name};

                    @include gradient-button(
                        nth($size-codes, 1),
                        nth($size-codes, 2),
                        nth($size-codes, 3),
                        nth($size-codes, 4),
                        nth($size-codes, 5)
                    );
                }
            }
        }

        &-#{$clr-name}-pill {
            @extend .btn;
            @extend .btn-#{$clr-name};

            @include pill-button(14px);
        }

        @each $size-name, $size-codes in $button-sizes {

            &-#{$clr-name}-#{$size-name} {
                @extend .btn;
                @extend .btn-#{$clr-name};
                @extend .btn-#{$clr-name}-#{$size-name};
            }

            &-#{$clr-name}-#{$size-name}-pill {
                @extend .btn;
                @extend .btn-#{$clr-name};
                @extend .btn-#{$clr-name}-#{$size-name};
                @include pill-button(nth($size-codes, 1));
            }
        }
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}

.btn {
    @include gradient-button(14px, 5px, 15px, 5px, 15px);
    outline: none;
    border-radius: 2px;
    background     : $color-grey;
    text-transform : uppercase;
    color          : #FFFFFF;

    @include button();
}
