footer:first-of-type {
    background-color: color(light-grey);
    padding: px2rem(30.5);
    font-size: px2rem(14);


    ul {
        li {
            font-weight: 600;
        }
    }

    @media #{$breakpoint-md-down} {
        ul li {
            &:not(:first-child) {
                margin-top: px2rem(8);
            }
        }
    }

    @media #{$breakpoint-lg-up} {
        ul {
            display: flex;
            align-items: stretch;

            li {
                list-style: none;
                display: flex;
                align-items: stretch;

                &:not(:first-child) {
                    margin-left: px2rem(16);
                    padding-left: px2rem(16);
                    border-left: 1px solid color(dark-grey);

                    * {
                        display: flex;
                        align-items: center;
                        padding: 0 2px;
                    }
                }
            }
        }
    }
}
